html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-around;
   
}

.header ul {
    color: #e5e7eb;
    margin: 0;
    display: flex;
    font-size: 18px;
    gap: 16px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;

}

ul li {
    border-right: solid 1px #e5e7eb;
    padding: 0 1rem;
    padding-left: 0;
    
}

ul li:last-of-type {
    border-right: none;
}

.header h3 {
    margin: 0;
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box-one, .box-two, .box-three, .box-four{
    height: 500px;
    width: 100%;
   
    
}

.box-one {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero-image img {
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.hero-text {
    width: 400px;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    padding:0;
    margin:0;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
}

.box-two {
    background-color: white;

}

.box-two h2 {
    text-align: center;
    margin: 40px;
    color:#1f2937;
    font-size: 36px;
    font-weight: 1000;
}

.cat-pictures {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.cat-pictures img {
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
  
}

.info {
    max-width: 200px;
    height: 200px;
    text-align: center;
    color:#1f2937;
}

.box-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 1500px;
    height: 400px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.author {
    color:#1f2937;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}


.box-four {
    background-color: white;
}